{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Welcome to the Home Page!</h2>
        <p>This is the main content of the page.</p>
        <p>Here are some random things:</p>
        <ul>
            <li>A list of items</li>
            <li>Random fact: The Earth is approximately 4.5 billion years old.</li>
            <li>Another random fact: The first computer virus was created in 1983.</li>
            <li>Random quote: "The only way to do great work is to love what you do." - Steve Jobs</li>
        </ul>
        <p>Feel free to explore the rest of the site!</p>
    </div>
{% endblock %}
